<!DOCTYPE suite SYSTEM "https://testng-1.0.dtd">
<suite name="E-Commerce" parallel = 'false'>
    <test name="Add to Cart tests">
        <classes>
            <class name="tests.AddToCartTests"/>
        </classes>
    </test>
    <test name="Checkcout tests">
        <classes>
            <class name="tests.CheckoutTests"/>
        </classes>
    </test>
    <test name="Registration tests">
        <classes>
            <class name="tests.RegistrationTests"/>
        </classes>
    </test>
</suite>